# Core ML Libraries
pandas~=2.0.0      # For data manipulation and analysis
numpy~=1.24.0      # For numerical operations
scikit-learn~=1.2.0 # For machine learning models, preprocessing, and metrics
joblib~=1.2.0      # For saving and loading Python objects, especially scikit-learn models

# Development and Testing Libraries
pytest~=7.4.0      # For running tests
pytest-cov~=4.1.0  # For measuring test coverage